*{
    margin: 0;
    padding: 0;
}
html{
    font-family: sans-serif;
}
.padding-left-right{
    padding: 0px 100px;
}
.text-center{
    text-align: center;
}
.header{
    background: #f8f8f8;
}
.navBar{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    color: #777;
}
.navBar .logo-box{
    flex: 0 0 25%;
   
}
.navBar .menu-nav{
    flex: 1;
    
}
.logo-box .bar{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #777;
    float: right;
    display: none;
}
.navBar ul{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    font-size: 20px;
}
.navBar ul li{
    padding: 10px 20px;
}
.navBar ul li:last-child{
    padding: 0px 0px 0px 20px;
}
.navBar ul li a{
    text-decoration: none;
    color: #777;
}
.navBar ul li:hover a{
    color: #1abc9c;
}
.img-section{
    background: #1abc9c;
    padding: 20px 0px;
    color: #fff;
}
.img-section h1{
    padding: 50px 0px;
}
.img-section img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.search-section{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #474e5d;
    color: #fff;
    font-weight: lighter;
}
.search-section h1{
    margin-bottom: 40px;
}
.search-section p{
    line-height: 30px;
}
button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 40px;
}
button span{
    color: #777;
}
button:focus{
    outline:0 !important;
}
button:hover{
    background: #1f1f1f;
}
.blog-section{
    padding: 60px 20px 100px;
    color: #777;
}
.blog-section h1{
    margin-bottom: 60px;
}
.blog-section .blog-con{
    display: flex;
    justify-content: space-between;
}
.blog-section .blog-con .blog-box{
    width: 32%;
    text-align: center;
}
.blog-section .blog-con .blog-box p{
    margin-bottom: 20px;
}
.blog-section .blog-con .blog-box img{
    width: 100%;
}
.footer{
    padding: 80px 0px;
    background: #2f2f2f;
    color: #fff;
}
.footer a{
    text-decoration: none;
    color: #1abc9c;
}
@media(max-width: 1000px){
    .padding-left-right{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width: 600px){
    .navBar{
        flex-direction: column;
    }
    .navBar ul li{
        padding-left: 0px;
    }
    .navBar ul li:last-child{
        padding-left: 0px;
        padding-top: 10px;
    }
    .menu-nav{
        width: 100%;
    }
    .menu-nav ul{
        display: none;
        flex-direction: column;
        border-top: 1px solid #777;  
        padding: 0;
        margin: 0;
        width: 100%;
       
    }
    .logo-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5px;
    }
    .logo-box .bar{
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .logo-box .bar:hover{
        background: #ddd;
    }
    .blog-section .blog-con{
        flex-direction: column;
    }
    .blog-section .blog-con .blog-box{
        width: 100%;
        margin-bottom: 40px;
    }
    .blog-section .blog-con .blog-box:last-child{
        margin-bottom: 0px;
    }
}
@media(max-width: 400px){
    .img-section img{
        width: 200px;
        height: 200px;
    }
}